<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.b00047562.skyassistant">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--android:name=".SkyAssitantParseApp"-->
    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".UserPreferences"
            android:label="@string/title_activity_preferences"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.b00047562.skyassistant.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GeneralSettings"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddeventDialogue"
            android:label="@string/title_activity_addevent_dialogue"
            android:screenOrientation="portrait"
            android:theme="@style/CustomDialogTheme" />
        <activity
            android:name=".AirlineView"
            android:label="@string/title_activity_airline_view"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.b00047562.skyassistant.MainActivity" />
        </activity>
        <activity
            android:name=".Suggestions"
            android:label="@string/title_activity_suggestions"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.b00047562.skyassistant.MainActivity" />
        </activity>
        <activity
            android:name=".SuggestedItemView"
            android:label="@string/title_activity_suggested_item_view"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.b00047562.skyassistant.Suggestions" />
        </activity>
        <activity
            android:name=".SignUp"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.b00047562.skyassistant.LoginActivity" />
        </activity>
        <activity
            android:name=".newReservation"
            android:label="New Reservation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Checkout"
            android:label="Checkout"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Confirmation"
            android:label="Confirmation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".mySchedule"
            android:label="My Schedule"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.b00047562.skyassistant.UserPreferences" />
        </activity>
        <activity
            android:name=".UserProfile"
            android:label="User Profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.b00047562.skyassistant.MainActivity" />
        </activity>
        <activity
            android:name=".myReservations"
            android:label="@string/title_activity_my_reservations"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.b00047562.skyassistant.MainActivity" />
        </activity>
        <activity
            android:name=".Changepassword"
            android:label="Change Password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ticketView"
            android:label="@string/title_activity_ticket_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".navDrawer"
            android:label="@string/title_activity_nav_drawer"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>